/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define PLOVER 0
#define QWER 1

/ {


        keymap {
                compatible = "zmk,keymap";
		
                plover_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   QWER   |    S    |    T    |    P    |    H    |    ST1    |                   |    ST3    |    F    |    P    |    L    |    T    |    D    |
// |   IDK    |    S    |    K    |    W    |    R    |    ST2    |                   |    ST4    |    R    |    B    |    G    |    S    |    Z    |
//   	                          |    #    |    A    |     O     |                   |    E      |    U    |    #    |  

    bindings = <
      &tog QWER  &kp PLV_SL  &kp PLV_TL  &kp PLV_PL  &kp PLV_HL  &kp PLV_ST  &kp PLV_ST   &kp PLV_FR &kp PLV_PR &kp PLV_LR &kp PLV_TR  &kp PLV_DR  &kp PLV_X2 
      &kp PLV_X1 &kp PLV_SL  &kp PLV_KL  &kp PLV_WL  &kp PLV_RL  &kp PLV_ST  &kp PLV_ST   &kp PLV_RR &kp PLV_BR &kp PLV_GR &kp PLV_SR  &kp PLV_ZR  &kp PLV_X3 
                                         &kp PLV_X4  &kp PLV_A   &kp PLV_O   &kp PLV_E    &kp PLV_U  &kp PLV_X5
    >;
    
};
		QWER_layer {

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   QWER |   Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |   Backspace |
// |   SPC    |   A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    /    |    Shift    |
//   	                       |   BCSP  |   SPC   |   ESC   |                   |   ENT   |   SPC   |   BCSP   |
      bindings = <
      &tog QWER  &kp Q  &kp W  &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BACKSPACE
      &kp  SPACE &kp Z  &kp X  &kp C &kp V &kp G &kp B &kp N &kp M &kp LESS_THAN &kp GREATER_THAN &kp LSHIFT
            &kp BACKSPACE &kp SPACE &kp ESC  &kp ENTER &kp SPACE &kp BACKSPACE
     >;
};

  //  combos {
    //    compatible = "zmk,combos";
      //  combo_esc {
        //    timeout-ms = <50>;
	  //  layers = <1>;
 //           key-positions = <1 2>;
  //          bindings = <&kp A>;
//	    
//        };
 //   };
       		
		};
		
		
        
	};
